<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ESP32-Turtlebot</title>
    <!-- CSS elements for styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- JS imports -->
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src="{{ url_for('static', filename='js/ledControl.js') }}"></script>
  </head>
  <body>
    <!-- Main header -->
    <header class="main-header">
      <div class="logo-title">
        <img src="{{ url_for('static', filename='images/esp32-2wd-tb.jpg') }}" alt="Logo" class="logo">
        <h1>ESP32-Turtlebot Control Center</h1>
      </div>
      <a class="github-link" href="https://github.com/YoAb01/ESP32-Turtlebot" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg" alt="GitHub" class="github-icon">
      </a>
    </header>

    <!-- Navigation bar -->
    <nav class="nav-bar">
      <a href="/" class="{% if request.path == '/' %}active{% endif %}">
        <i class="fas fa-home"></i> Home
      </a>
      
      <a href="/manual" class="{% if request.path.startswith('/manual') %}active{% endif %}">
        <i class="fas fa-gamepad"></i> Manual
      </a>
      <a href="#" class="">
        <i class="fas fa-robot"></i> Automation
      </a>
      <a href="#" class="">
        <i class="fas fa-chart-line"></i> Monitoring
      </a>
      <a href="#" class="">
        <i class="fas fa-cogs"></i> Setup
      </a>
      <a href="#" class="">
        <i class="fas fa-info-circle"></i> About
      </a>
    </nav>

    <main class="main-content">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
