{% extends "home.html" %}
{% block content %}

<div class="monitoring-columns">
  <!-- Column 1: Navigation sensors -->
  <div class="column">
    <div class="card navig-sensors">
      <div class="card-header">Navigation sensors</div>
    </div>
  </div>

  <!-- Column 2 (empty for now) -->
  <div class="column">
    <!-- Content for column 2 will go here -->
  </div>

  <!-- Column 3 (empty for now) -->
  <div class="column">
    <!-- Content for column 3 will go here -->
  </div>
</div>
{% endblock %}
